.team {
  margin-top: 10rem;

  .team__first__card {
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.13);
  }
  .team__card {
    display: block;
    background-color: rgba(0, 0, 0, 0.13);

    .align-image{
      text-align: center;
    }
  }

  .card-group {
    gap: 2rem;
    margin-top: 2rem;
  }

  .card-title {
    color: #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
  }

  .card-text {
    text-align: center;
    margin: 2rem 0;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
      margin-bottom: 4rem;
    }
  }

  .pessoa-img {
    margin-top: 4rem;
    max-width: 8rem;
  }

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
}

/* @media only screen and (max-width: 781px) {
  .team {
    .team__first__card {
      width: 100%;
      margin-bottom: 2rem;
      background-color: rgba(0, 0, 0, 0.068);
    }

    .card-text {
      text-align: start;
    }

    .card-group {
      display: grid;
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 992px) {
  .team {
    .team__first__card {
      width: 100%;
      margin-bottom: 2rem;
      background-color: rgba(0, 0, 0, 0.068);
    }

    .card-text {
      text-align: center;
    }

    .card-group {
      display: grid;
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 1185px) {
  .team {
    .team__first__card {
      margin: auto;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      background-color: rgba(0, 0, 0, 0.068);
      width: 600px;
      height: 455px;
    }
    .team__card {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.068);
      width: 600px;
      height: 455px;
    }
  }
}
 */
