.background-home {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.about-home {
  padding: 3rem 0;
  text-align: center;

  p {
    text-align: left;
  }

  .about-title-home {
    margin-bottom: 2rem;
    color: #fff;
    text-align: left;
  }
}
.about-link-home {
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
  text-decoration: underline;

  img {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
