.background {
  background-color: #fff;
}

.about {
  padding: 3rem 0;

  &__title {
    margin-bottom: 2rem;
    color: #000;
  }
  .card-group {
    .card-title {
      color: #000;
      border-bottom: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem;
    }

    .card-text {
      color: #000;
    }
  }
}
