.menubar-custom {
  background-color: #161921;

  .logo_svg {
    max-width: 6rem;
  }

  .navbar-nav {
    display: flex;
    align-items: center;

    .nav-link {
      font-size: 18px;
      color: #fff;
    }
  }

  .whatsapp-nav {
    margin-left: 8px;
  }
}
